In [25]:
import backtest.options as opt
from datetime import datetime, timedelta
import pandas as pd

In [2]:
exdate=date(2019, 12, 18)
today=date.today()
volatility=30
strike=100
stock=100
optiontype="Call"
optiontype2="Put"
interest=5
direction=1
direction2=-1

In [3]:
x=opt.Option(exdate, volatility, strike, stock, optiontype, interest, direction)
y=opt.Option(exdate, volatility, strike, stock, optiontype2, interest, direction2)

In [4]:
call_greeks=(x.get_greeks(today, 100, 25))
put_greeks=(y.get_greeks(today, 100, 25))

In [5]:
pos1=[x,y]

options_pos=opt.Position(pos1)

In [6]:
greeks=options_pos.getPosGreeks(today, 100, 25)

print (greeks)

{'price': 470.7509606587947, 'theta': -1.305376580731672, 'delta': 100.0}

In [7]:
greeks=options_pos.getPosGreeks(today, 150, 25)

In [8]:
print (greeks)

{'price': 5470.750960658795, 'theta': -1.305376580731672, 'delta': 100.0}

In [9]:
greeks=options_pos.getPosGreeks(today, 50,45)
print (greeks)

{'price': -4529.249039341205, 'theta': -1.305376580731672, 'delta': 100.0}

In [10]:
x=opt.Option(exdate, volatility, strike, stock, optiontype, interest, direction)
y=opt.Option(exdate, volatility, strike, stock, optiontype2, interest, direction2)

a=opt.Option(exdate, volatility, strike, stock, optiontype, interest, direction)
b=opt.Option(exdate, volatility, strike, stock, optiontype2, interest, direction2)

In [11]:
pos1=[x,y]
pos2=[a,b]

options_pos=opt.Position(pos1)
options_pos2=opt.Position(pos2)

In [12]:
inv=opt.Inventory()

inv.add_position(options_pos)
inv.add_position(options_pos2)

In [13]:
print (inv.get_inventory_stats(today, 150, 45))

{'price': 10941.501921317587, 'delta': 200.0, 'theta': -2.6107531614633444}

In [39]:
df=pd.read_csv('time_series.csv')
df['portfolio']=''
print (df.iloc[0]['Close'])
df.at[0,'portfolio']=100000

df.head()

152.53999299999998

         Date       Close    return  Settle  Value portfolio
0  2007-05-21  152.539993       NaN   14.90   5.35    100000
1  2007-05-22  152.419998 -0.000787   14.99   5.35
2  2007-05-23  152.440002  0.000131   14.92   5.35
3  2007-05-24  151.059998 -0.009094   15.05   5.35
4  2007-05-25  151.690002  0.004162   15.10   5.35

In [31]:
x=df.iloc[0]['Date']
today=date(x)
today

TypeError: an integer is required (got type str)

In [27]:
today=date(2018, 12, 31)

expiration=today+timedelta(200)

print (expiration)

2019-07-19

In [28]:
def getTargetDelta(x, base=100):
    '''rounds current stock price to nearest 100 share increment and then divides 
    by 100 to get total number of artificial positions needed.'''
    return int(base * round(float(x)/base))/100

In [30]:
delta=100000/152

y=getTargetDelta(delta)

delta
y

7.0

In [34]:
import datetime
y=datetime.datetime.strptime('2017-12-18', '%Y-%m-%d').date()

print (y)

2017-12-18

In [38]:
x=date.today()
y=date(2020,12,12)

z=(y-x).days
z

712