In [19]:
import pandas as pd
import quandl
from settings import quandl_code
import numpy as np

quandl.ApiConfig.api_key = quandl_code
startDate='2007-05-21'
endDate='2018-11-30'

In [23]:
# Get data for the SPY, short-term interest rates and the VIX
# The VIX data only goes back to 2007

spy=quandl.get('EOD/SPY', start_date=startDate, end_date=endDate)
interest=quandl.get("FED/RILSPDEPM03_N_B", authtoken=quandl_code)
vix=quandl.get('SCF/CBOE_VX1_ON', start_date=startDate, end_date=endDate)

In [24]:
#get the returns for the adj_spy stream

spy['return']=np.log(spy['Adj_Close']/spy['Adj_Close'].shift())

spy=spy[['return']]
vix=vix[['Settle']]

spy.head()
vix.head()

            Settle
Date
2007-05-21   14.90
2007-05-22   14.99
2007-05-23   14.92
2007-05-24   15.05
2007-05-25   15.10

In [26]:
#merge all dataframes onto one csv

df=pd.concat([spy, vix, interest], axis=1, join='inner')
df.head()

              return  Settle  Value
Date
2007-05-21       NaN   14.90   5.35
2007-05-22 -0.000787   14.99   5.35
2007-05-23  0.000131   14.92   5.35
2007-05-24 -0.009094   15.05   5.35
2007-05-25  0.004162   15.10   5.35

In [29]:
df.to_csv('time_series.csv')